version: '3'

services:
  webapp:
    env_file: ".env"
    build: .
    ports:
      - 5000:5000
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - app-network
  redis:
    image: "redis:8.6"
    container_name: redis
    networks:
      - app-network

networks:
  app-network:
    driver: bridge