@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

.help_img {
    border-radius: 15px;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.discordLogin {
    transition: all ease 0.25s;
    &:hover {
        transform: scale(1.05);
    }
    text-shadow: 0 0.05rem 0.25rem rgba(0, 0, 0, 0.05);

    background-color: #5865F2;
    -webkit-box-shadow: 0px 10px 25px 0px #ffffff80;
    -moz-box-shadow: 0px 10px 25px 0px #ffffff80;
    box-shadow: 0px 10px 25px 0px #ffffff80;

    &:hover {
        text-shadow: 0 0.15rem 0.50rem rgba(0, 0, 0, 0.15);
    }
    .fa-hand-paper{
        -moz-transform: scale(-1, 1) rotate(45deg);
        -webkit-transform: scale(-1, 1) rotate(45deg);
        -o-transform: scale(-1, 1) rotate(45deg);
        -ms-transform: scale(-1, 1) rotate(45deg);
        transform: scale(-1, 1) rotate(45deg);
    }
    .discordLoginBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}