.discord_icon {
    border-radius: 15px;
    width: 48px;
}

#discord_header {
    display: flex;
    align-items:center;
    gap:10px
}

.graph_name {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 35px;
}

.link_container {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 35px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.servers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.server {
    background-color:antiquewhite;
    margin: auto;
    height: 100px;
    min-width: 200px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}