<!-- getting-started.html -->

{% extends 'base.html' %}

{% block content %}
<div>
    <h3>For Discord Admins:</h3>
    Add the bot to your server <a href="https://discord.com/oauth2/authorize?client_id=1473476039211618445&permissions=2048&integration_type=0&scope=bot">
        here</a>
    
</div>

<div>
    <h3>For Users:</h3>
    Use /register to add yourself to the graph. You can tab to bring up more options<br>
    <img class="help_img" src="{{ url_for('static', filename = 'img/register.png') }}"> <br>
    You can then use /add_partner to add a discord user or someone off the discord server <br>
    <img class="help_img" src="{{ url_for('static', filename = 'img/add_partner_options.png') }}"> <br>
    Use the partner option if they are on this discord server <br>
    <img class="help_img" src="{{ url_for('static', filename = 'img/add_partner_discord.png') }}"> <br>
    Otherwise use partner_name to add their name <br>
    <img class="help_img" src="{{ url_for('static', filename = 'img/add_partner_off_discord.png') }}"> <br>
    You can remove relationships with /remove_relationship and remove yourself from the graph with /unregister <br>
</div>

<div>
    <h3>Advanced Users:</h3>
    If your admin gives you the Polygrapher role, you can use /add_others_relationship to add relationships that you yourself aren't a part of
</div>
{% endblock %}